In [2]:
students=[]
def student_admission():
    n = input("Enter student name: ")
    roll_no = input("Enter student roll number: ")
    m1 = float(input("Enter marks for math: "))
    m2 = float(input("Enter marks for science: "))
    m3 = float(input("Enter marks for python :"))

    student = {
        "student_name": n,
        "student_roll_number": roll_no,
        "subject_1_marks": m1,
        "subject_2_marks": m2,
        "subject_3_marks": m3
    }

    students.append(student)
    print("Student data accepted.")

def display_data():
    if not students:
        print("data not available")
        return

    print("Student Data:")
    for student in students:
        print("Name:", student["student_name"])
        print("Roll Number:", student["student_roll_number"])
        print("math:", student["subject_1_marks"])
        print("science:", student["subject_2_marks"])
        print("python:", student["subject_3_marks"])
        print()

def  display_data_by_name(name):
    found_students = []
    for student in students:
        if student["student_name"].lower() == name.lower():
            found_students.append(student)

    if not found_students:
        print("Sorry, data not found !!")
        return

    print("Student(s) Found:")
    for student in found_students:
        print("Name:", student["student_name"])
        print("Roll_Number:", student["student_roll_number"])
        print("math:", student["subject_1_marks"])
        print("science:", student["subject_2_marks"])
        print("python:", student["subject_3_marks"])
        print()

def del_data(roll_number):
    for student in students:
        if student["student_roll_number"] == roll_number:
            students.remove(student)
            print("Data deleted successfully.")
            return

    print("sorry,enter valid roll no !!")

def update_student(roll_number):
    for student in students:
        if student["student_roll_number"] == roll_number:
            print("Enter updated details for the student:")
            student["student_name"] = input("Enter updated name: ")
            student["student_roll_number"] = input("Enter updated roll number: ")
            student["subject_1_marks"] = float(input("Enter updated marks for math: "))
            student["subject_2_marks"] = float(input("Enter updated marks for science: "))
            student["subject_3_marks"] = float(input("Enter updated marks for python: "))
            print("Data updated successfully.")
            return

    print("Sorry, provide the valid roll_no.")

In [8]:
student_admission()

Enter student name: subham suvendu das
Enter student roll number: 363
Enter marks for math: 95
Enter marks for science: 95
Enter marks for python :98
Student data accepted.

In [9]:
student_admission()

Enter student name: smrutiranjan behera
Enter student roll number: 364
Enter marks for math: 95
Enter marks for science: 95
Enter marks for python :78
Student data accepted.

In [10]:
student_admission()

Enter student name: dibyalochan behera
Enter student roll number: 365
Enter marks for math: 95
Enter marks for science: 98
Enter marks for python :99
Student data accepted.

In [11]:
student_admission()

Enter student name: soumya sovan mishra
Enter student roll number: 369
Enter marks for math: 89
Enter marks for science: 90
Enter marks for python :97
Student data accepted.

In [12]:
student_admission()

Enter student name: Adishree srikumar
Enter student roll number: 300
Enter marks for math: 85
Enter marks for science: 89
Enter marks for python :86
Student data accepted.

In [13]:
student_admission()

Enter student name: subham sagar pradhan
Enter student roll number: 368
Enter marks for math: 90
Enter marks for science: 90
Enter marks for python :99
Student data accepted.

In [14]:
display_data()

Student Data:
Name: subham suvendu das
Roll Number: 363
math: 95.0
science: 95.0
python: 98.0

Name: smrutiranjan behera
Roll Number: 364
math: 95.0
science: 95.0
python: 78.0

Name: dibyalochan behera
Roll Number: 365
math: 95.0
science: 98.0
python: 99.0

Name: soumya sovan mishra
Roll Number: 369
math: 89.0
science: 90.0
python: 97.0

Name: Adishree srikumar
Roll Number: 300
math: 85.0
science: 89.0
python: 86.0

Name: subham sagar pradhan
Roll Number: 368
math: 90.0
science: 90.0
python: 99.0

In [15]:
display_data_by_name("Adishree srikumar")

Student(s) Found:
Name: Adishree srikumar
Roll_Number: 300
math: 85.0
science: 89.0
python: 86.0

In [16]:
del_data("364")

Data deleted successfully.

In [17]:
update_student("363")

Enter updated details for the student:
Enter updated name: subham sovendu das
Enter updated roll number: 363
Enter updated marks for math: 99
Enter updated marks for science: 98
Enter updated marks for python: 99
Data updated successfully.