In [1]:
students=[]
def add_student():
    name = input("Enter student name: ")
    roll_no = input("Enter student roll number: ")
    marks_1 = float(input("Enter marks for subject 1: "))
    marks_2 = float(input("Enter marks for subject 2: "))

    student = {
        "student_name": name,
        "student_roll_number": roll_no,
        "subject_1_marks": marks_1,
        "subject_2_marks": marks_2
    }

    students.append(student)
    print("Student data accepted.")

def show_student_data():
    if not students:
        print("Sorry, No data available !!")
        return

    print("Student Data:")
    for student in students:
        print("Name:", student["student_name"])
        print("Roll Number:", student["student_roll_number"])
        print("Marks_1:", student["subject_1_marks"])
        print("Marks_2:", student["subject_2_marks"])
        print()

def find_student_by_name(name):
    found_students = []
    for student in students:
        if student["student_name"].lower() == name.lower():
            found_students.append(student)

    if not found_students:
        print("Sorry, No student found !!")
        return

    print("Student(s) Found:")
    for student in found_students:
        print("Name:", student["student_name"])
        print("Roll_Number:", student["student_roll_number"])
        print("Marks_1:", student["subject_1_marks"])
        print("Marks_2:", student["subject_2_marks"])
        print()

def delete_data(roll_number):
    for student in students:
        if student["student_roll_number"] == roll_number:
            students.remove(student)
            print("Data deleted successfully.")
            return

    print("Sorry, No student found !!")

def update_student(roll_number):
    for student in students:
        if student["student_roll_number"] == roll_number:
            print("Enter updated details for the student:")
            student["student_name"] = input("Enter updated name: ")
            student["student_roll_number"] = input("Enter updated roll number: ")
            student["subject_1_marks"] = float(input("Enter updated marks for subject 1: "))
            student["subject_2_marks"] = float(input("Enter updated marks for subject 2: "))
            print("Data updated successfully.")
            return

    print("Sorry, provide the valid roll_no.")

In [2]:
add_student()

Enter student name: subham sovendu das
Enter student roll number: 363
Enter marks for subject 1: 85
Enter marks for subject 2: 90
Student data accepted.

In [3]:
add_student()

Enter student name: ayush dash
Enter student roll number: 361
Enter marks for subject 1: 95
Enter marks for subject 2: 95
Student data accepted.

In [4]:
add_student()

Enter student name: amrit behera
Enter student roll number: 80
Enter marks for subject 1: 80
Enter marks for subject 2: 99
Student data accepted.

In [5]:
show_student_data()

Student Data:
Name: subham sovendu das
Roll Number: 363
Marks_1: 85.0
Marks_2: 90.0

Name: ayush dash
Roll Number: 361
Marks_1: 95.0
Marks_2: 95.0

Name: amrit behera
Roll Number: 80
Marks_1: 80.0
Marks_2: 99.0

In [7]:
find_student_by_name("subham sovendu das")

Student(s) Found:
Name: subham sovendu das
Roll_Number: 363
Marks_1: 85.0
Marks_2: 90.0

In [9]:
update_student("80")

Enter updated details for the student:
Enter updated name: Amrit kumar behera
Enter updated roll number: 82
Enter updated marks for subject 1: 80
Enter updated marks for subject 2: 95
Data updated successfully.

In [10]:
show_student_data()

Student Data:
Name: subham sovendu das
Roll Number: 363
Marks_1: 85.0
Marks_2: 90.0

Name: ayush dash
Roll Number: 361
Marks_1: 95.0
Marks_2: 95.0

Name: Amrit kumar behera
Roll Number: 82
Marks_1: 80.0
Marks_2: 95.0

In [11]:
delete_data("82")

Data deleted successfully.

In [12]:
show_student_data()

Student Data:
Name: subham sovendu das
Roll Number: 363
Marks_1: 85.0
Marks_2: 90.0

Name: ayush dash
Roll Number: 361
Marks_1: 95.0
Marks_2: 95.0